
        /* Global Styles */
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ebe5e5;
        }

        /* Header (Navigation Bar) */
        header {
            background-color: #333;
            color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 98%;
            z-index: 1000;
            height: 2rem;
        }

        header .logo a {
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }

        /* Navigation Links */
        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            gap: 20px;
        }

        nav ul li {
            padding: 10px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

        nav ul li:hover {
            background-color: #444;
        }

        /* Hamburger Menu (Visible on Mobile) */
        .hamburger {
            display: none;
            font-size: 30px;
            cursor: pointer;
        }


        /* Media Queries for Small Screens */
        @media screen and (max-width: 768px) {
            nav ul {
                display: none;
                flex-direction: column;
                width: 100%;
                background-color: #333;
                position: absolute;
                top: 70px;
                left: 0;
                padding: 10px 0;
                z-index: 999;
            }

            nav ul li {
                width: 100%;
                text-align: left;
            }

            nav ul li a {
                padding: 0;
                width: 100%;
                display: block;
                line-height: 1rem;
            }

            .hamburger {
                display: block;
            }

            nav ul.open {
                display: flex;
            }

        }
